.btn {
    background: #eb94d0;
    /* 创建渐变 */
    
    background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
    /* 给按钮添加圆角 */
    border-radius: 100px;
    text-shadow: 3px 2px 1px #9daef5;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 27px;
    padding: 15px;
    text-decoration: none;
  }
  /* 悬停样式 */
  .btn:hover {
    background: #2079b0;
    
    background-image: linear-gradient(to bottom, #2079b0, #eb94d0);
    text-decoration: none;
  }
  .div1{
      width: 100%;
      height: 800px;
      text-align: center;
  }