* { padding:0; margin:0;}       /*设置所有对像的内边距为0*/
body { text-align:center;} 

#screen{
    width: 9999px;
    height:730px;
    animation: 8s gund infinite;
}
#screen img{
    float: left;
}
.all{
    width: 730px;
    height: 454px;
    overflow: hidden;
    margin: auto;
}
@keyframes gund{
    0%{transform: translateX(-2920px);}
    12.5%{transform: translateX(0px);}
    25%{transform: translateX(-730px);}
    37.5%{transform: translateX(-730px);}
    50%{transform: translateX(-1460px);}
    62.5%{transform: translateX(-1460px);}
    75%{transform: translateX(-2190px);}
    87.5%{transform: translateX(-2190px);}
    100%{transform: translateX(-2920px);}
}